@import "mixin";
$blue:#33FFFF;
html,body{
  width:100%;
  padding:0;
  margin:0;
}
.cover-slide{
  position:relative;
  overflow: hidden;
  .title{
    transition:all 2s;
    opacity:0;
  }
  &::after{
    content:'';
    opacity: 0;
    background-color:gray;
    z-index: 2;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  &.inview{
    .title{
      opacity:1;
    }
    &::after{
    @include animation($name:kf-cover-slide,$duration:1.5s,$timing-function:ease-in-out);
    }
  }
}
.img-zoom{
  vertical-align: bottom;
  opacity:0;
}
.inview .img-zoom{
  opacity: 1;
  @include animation($name:kf-img-show,$duration:1.5s,$timing-function:ease-in-out);
}
@keyframes kf-cover-slide{
  0%{
    left:0;
    right:100%;
    opacity:1;
  }
  50%{
    left:0;
    right:0;
    opacity: 1;
  }
  100%{
    left:100%;
    right:0;
    opacity: 1;
  }
}
@keyframes kf-img-show{
  0%{
    opacity:0;
  }
  50%{
    opacity: 0;
  }
  50.1%{
    opacity: 1;
    transform:scale(1.5);
  }
  100%{
    opacity:1;
    transform:scale(1);
  }
}
.text-slide{
  transform:translateX(-50%);
  opacity:0;
  transition:all 0.7s;
}
.text-slide.text-view{
  transform:translateX(0);
  opacity:1;
}
.hover{
  transform:translateX(-100%);
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  background-color: $blue;
  opacity: 0.7;
  transition:all 0.7s;
}
.hover-parent{
  overflow: hidden;
}
.hover-parent:hover{
  .hover{
  transform:translateX(0);
  height:100%;
  color:white;
 }
}

.wrapper{
  display: flex;
  z-index: 1;
  #sidemenu{
    width:20%;
    background-color: white;
    position:fixed;
    height:100vh;
    margin:auto;
    h1{
      width:80%;
      margin:30px auto 30px auto;
      img{
        width:100%;
      }
    }
    nav{
      text-align: center;
      ul{
        padding-left:0;
        margin-bottom:90px;
        li{
          padding:20px 10px;
          text-align: center;
          transition:all 0.3s;
          &:hover{
            background-color:#CCCCCC;
            opacity:0.7;
          }
        }
      }
      button{
        border:none;
        background-color:$blue;
        font-weight:bold;
        padding:15px 15px;
        letter-spacing:2px;
        margin:auto auto 30px auto;
        font-size:22px;
      }
    }
  }
  section#main{
    width:100%;
    padding-left:20%;
  }
  #section01{
    width:100%;
    padding:15px;
    color:white;
    box-sizing: border-box;
    height:100vh;
    background-color:black;
    .box{
      background-image: url(assets/images/main4.webp);
      background-size: cover;
      background-attachment: fixed;
      position:relative;
      height:100%;
      padding:30px 15px;
      box-sizing:border-box;
    }
    h2{
      position:absolute;
      bottom:30px;
      vertical-align: bottom;
      font-size: 50px;
      letter-spacing: 16px;
      margin-top:80px;
      overflow: hidden;
      p{
        margin-top:0;
        background-color: black;
        margin-bottom:20px;
        display:inline-block;
        padding:5px 20px;
      }
    }
  }

  section#section02{
    background-color:white;
    box-sizing:border-box;
    background-color: black;
    padding: 15px 15px;
    .box{
      padding:30px 15px;
      background-color:white;
      box-sizing: border-box;
    }
    h2{
      font-weight:bold;
      font-size: 32px;
      border-bottom:4px solid $blue;
      padding-bottom:10px;
      display: inline-block;
    }
    p{
      font-size: 20px;
      margin-bottom:20px;
    }
    .row{
        padding:15px;
        box-sizing: border-box;
      .item{
        padding:10px;
        box-sizing: border-box;
        .img{
          position:relative;
          img{
            width:100%;
          }
          .title{
            position:absolute;
            top:15px;
            left:15px;
            z-index: 2;
            h5{
              display:inline-block;
              border-bottom:2px solid $blue;
              font-weight:bold;
            }
          }

          .description{
            position:absolute;
            padding:60px 15px 20px 15px;
            p{
              margin-bottom:0;
            }
          }
        }

      }
    }
  }

  section#section03{
    background-color:black;
    color:white;
    padding:15px;
    padding-top:45px;
    box-sizing:border-box;
    h2{
      font-weight: bold;
      font-size: 32px;
      padding-bottom:10px;
      border-bottom:4px $blue solid;
      display: inline-block;
    }
    p{
      font-size: 20px;
      margin-bottom:20px
    }
    .row{
      padding:15px 30px;
      box-sizing: border-box;
    }
    .item1{
      margin-bottom:20px;
      padding:0;
      .img{
        position:relative;
        .title{
          position:absolute;
          top:15px;
          left:15px;
          z-index: 2;
          h5{
            display:inline-block;
            border-bottom:2px solid $blue;
            font-weight:bold;
          }
        }

        img{
          width:100%;
        }
      }
      .discription{
        padding:60px 15px;
      }
    }
    .item2{
      padding:20px 15px;
      margin-bottom:20px;
      color:#33FFFF;
      background-color:white;
      z-index: 2;
      &:before{
        content:"";
        background-color: $blue;
        color:white;
        position:absolute;
        top:0;
        left:0;
        right:100%;
        bottom:0;
        opacity:0.7;
        transition: all 0.7s;
        z-index: 1;
      }
      h5{
        font-size: 22px;
        margin-bottom:25px;
        font-weight:bold;
      }
      p{
        font-size: 16px;
      }
      &:hover{
        background-color: $blue;
        color:white;
        background-color: transparent;
        &::before{
          position:relative;
          content:"";
          position: absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
        }
      }
    }
  }
  section#section04{
    padding:15px;
    padding-top:45px;
    box-sizing:border-box;
    background: black;
    padding: 15px 15px;
    .box{
      padding:30px 15px 15px 15px;
      background-color:white;
      box-sizing: border-box;
    }
      h2{
        font-weight: bold;
        font-size: 32px;
        padding-bottom:10px;
        border-bottom:4px $blue solid;
        display: inline-block;
        margin-bottom:20px;
      }
      dl{
        background-color: white;
        padding:20px 25px;
        box-sizing:border-box;
        display: flex;
        flex-wrap:wrap;
        font-size: 16px;
        margin-bottom:0;
        dt{
          width:20%;
        }
        dd{
          width:80%;
        }
      }
    }

}


.mobile-menu{
  position:fixed;
  display: block;
  right:20px;
  top:30px;
  z-index: 300;
  background-color: transparent;
  border:none;
  span{
    display: block;
    margin-bottom:9px;
    background-color:black;
    height:2px;
    width:35px;
  }
}
.mobile-menu.opened{
  span{
    background-color: white;
    transition:all 0.7s;
  }
  span:nth-child(1){
    transform: translateY(11px) rotate(135deg);
    background-color:white;
  }
  span:nth-child(2){
    transform: translateX(-18px) scaleX(0);
    background-color:white;
  }
  span:nth-child(3){
    transform:translateY(-11px) rotate(-135deg);
    background-color:white;
  }
}
.mobile-content{
  background-color: black;
  opacity:0.7;
  transform:translateX(-100%);
  color:white;
  width:100%;
  height:100%;
  position: fixed;
  z-index: 2;
  transition:all 0.7s;
  text-align: center;
  padding:60px 15px;
  h1{
    margin-bottom:40px;
  }
  ul{
    padding-left:0;
  }
  li{
    padding:20px 15px;
    font-size:22px;
    list-style: none;
    transition:all 0.7s;
    &:hover{
      background-color:gray;
      opacity:0.7;
    }
  }
}
.mobile-content.opened{
  transform:translateX(0);
}

@media(min-width:769px){

}
@media(max-width:768px){
  .wrapper{
    display: flex;
    position: relative;
    z-index: 1;
    #sidemenu{

    }
    section#main{
      width:100%;
      padding-left:0;
    }
    #section01{
      width:100%;
      background-position:right bottom;
      background-size: cover;
      background-attachment: fixed;
      color:white;
      padding:15px;
      box-sizing: border-box;
      height:100vh;
      margin-bottom:30px;
      position:relative;
      padding:30px 15px;
      background-image: url(assets/images/main4.webp);
      .box{
        position:static;
        background-image: none;
        padding:0;
      }
      h2{
        position:absolute;
        bottom:30px;
        vertical-align: bottom;
        font-size: 32px;
        letter-spacing: 10px;
        margin-top:80px;
        overflow: hidden;
        p{
          margin-top:0;
          background-color: black;
          margin-bottom:20px;
          display:inline-block;
          padding:5px 20px;
        }
      }
    }

    section#section02{
      background-color:white;
      padding:15px;
      box-sizing:border-box;
      h2{
        font-weight:bold;
        font-size: 22px;
        border-bottom:4px solid $blue;
        padding-bottom:10px;
        display: inline-block;
      }
      p{
        font-size: 16px;
        margin-bottom:15px;
      }
      .row{
          padding:15px;
          box-sizing: border-box;
        .item{
          padding:10px;
          box-sizing: border-box;
          .img{
            position:relative;
            img{
              width:100%;
            }
            .title{
              position:absolute;
              top:15px;
              left:15px;
              h5{
                display:inline-block;
                border-bottom:2px solid $blue;
                font-weight:bold;
              }
            }
            .description{
              position:absolute;
              p{
                margin-bottom:0;
              }
            }
          }

        }
      }
    }

    section#section03{
      background-color:black;
      color:white;
      padding:15px 30px;
      padding-top:45px;
      box-sizing:border-box;
      h2{
        font-weight: bold;
        font-size: 22px;
        padding-bottom:10px;
        border-bottom:4px $blue solid;
        display: inline-block;
      }
      p{
        font-size: 16px;
        margin-bottom:15px
      }
      .row{
        padding:15px;
        box-sizing: border-box;
      }
      .item1{
        margin-bottom:20px;
        padding:0;
        .img{
          img{
            width:100%;
          }
        }
      }
      .item2{
        margin-bottom:20px;
        color:#33FFFF;
        background-color:white;
      }
    }
    section#section04{
      .box{
      }
        h2{
          font-weight: bold;
          font-size: 22px;
          padding-bottom:10px;
          border-bottom:4px $blue solid;
          display: inline-block;
          margin-bottom:20px;
        }
        dl{
          background-color: white;
          padding:10px 20px;
          box-sizing:border-box;
          display: flex;
          flex-wrap:wrap;
          font-size: 16px;
          margin-bottom:0;
          dt{
            width:100%;
          }
          dd{
            width:100%;
          }
        }
      }

  }
}
.pc-only{
  display: none;
}
.tablet-only{
  display:none;
}
.phone-only{
  display:none;
}
@media(min-width:769px){
  .pc-only{
    display: block;
  }
}
@media(max-width:768px){
  .tablet-only{
    display:block;
  }
}
@media(max-width:600px){
  .phone-only{
    display:block;
  }
}
